body {
    background-color:white  ;
}
nav ul{
    background-color:lightblue ;
    
    text-align: end;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-left: 200x;
    margin-right: 200px;
    font-size: 25px;
    color: blue;
}

.container {
    color: black;
    width: 100%; 
     position: relative;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}  

.row {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}
.centered {
    position: absolute;
    top: 360px;

}
.jumbotron {
    background-image: url("images/seoulatnight.html");
    background-size: cover;
    
}




.dropbtn {
    background-color: lightblue;
    color: blue;
    padding: 16px;
    font-size: 16px;
    border: none;
    list-style-type: none;
    display: inline;
    margin-left: 200x;
    margin-right: 200px;
    font-size: 25px;
    color: blue;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: end;

  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px blue;
    z-index: 1;
  }
  

  .dropdown-content a {
    color:blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: lightblue;}