body {
    background-color:white  ;
}
nav ul{
    background-color:lightblue ;
    
    text-align: end;
}
nav ul li {
    list-style-type: none;
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
}

.container {
    color: white;
    width: 100%;
    position: relative;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}  

.row {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}
.centered {
    position: absolute;
    top: 360px;

}
.jumbotron {
    background-image: url("images/seoulatnight.html");
    background-size: cover;
    
}

.top {
}